/* this css file is used during the UserScene & BasketScene scenes */

.ikonli-font-icon {
    -fx-icon-size: 50;
}

.settings-icon {
    -fx-icon-size: 50;
}

.add-icon {
    -fx-icon-size: 50;
}

.searchbar-icon {
    -fx-icon-size: 30;
}

.user-label {
    -fx-padding: 0 120 0 40;
}

.hbox {
    -fx-alignment: "center-left";
}

.label-container {
    -fx-alignment: "center";
}

.list-view .scroll-bar {
    -fx-scale-x: 0;
}

.list-view {
    -fx-border-width: 0px;
    -fx-padding: 0;
    -fx-focus-color: transparent;
}

.book-icon {
    -fx-icon-size: 50;
}

.book-cell-value-container {
    -fx-alignment: "center-left";
}

.add-book-icon {
    -fx-icon-size: 30;
}

.purchase-bar {
    -fx-alignment: "center-left";
    -fx-padding: 0 8 8 8;
}

.top-bar {
    -fx-padding: 4 4 4 4;
}

.quantity-text {
    -fx-alignment: "center";
}

.basket-cell-price-container {
    -fx-alignment: "center-right";
}

.total-count {
    -fx-alignment: "center";
}

.total-price {
    -fx-alignment: "center";
}

.stretch-bar {
    -fx-alignment: "center";
}

.clear-icon {
    -fx-icon-size: 30;
}

.add-scene-interactable-container {
    -fx-alignment: "top-center";
}

.payment-scene-interactable-container {
    -fx-alignment: "top-center";
}

.type-select-container {
    -fx-alignment: "center";
}

.payment-scene-root-container {
    -fx-alignment: "center";
}

.type-select-label {
    -fx-alignment: "center";
    -fx-text-alignment: "center";
}

.add-field-container {
    -fx-alignment: "center";
}

.add-button-container {
    -fx-alignment: "center-right";
}
